/.project
*.pyc
.DS_Store
/.pydevproject
.pydevproject
/.idea/dictionaries/
/.idea/inspectionProfiles/
/.idea/inspectionProfiles/*.*
/.idea/workspace.xml
.idea/workspace.xml
/.idea/pace.iml
.idea/pace.iml
.idea/*.*
.idea/
/.idea/
*.log
*.iml
.settings/org.eclipse.core.resources.prefs
generalTestScript.py
tutorial/Objektbeschreibungen\ IFRS\ Modelle\ Mapping.xls
*.buildinfo
doc2/pace.log.1
*.inv
penowak_tests
penowak_tests/*.*
doc2/sphinx
doc2/sphinx/*
*.prof