.project/
*.pyc
.DS_Store
.pydevproject/
/.idea/dictionaries/
/.idea/inspectionProfiles/
/.idea/inspectionProfiles/*.*
/.idea/pace.iml
.idea/pace.iml
.idea/
*.log
.settings/org.eclipse.core.resources.prefs
generalTestScript.py
*.prof
timewave.egg-info/
